<div class="dialog-med">
  <h2 class="panel-header">
    Removing
  </h2>
  <div mn-spinner="bucketsDeleteDialogCtl.viewLoading">
    <p class="panel-content">
      <strong>Warning</strong> – Removing this bucket will result in complete data loss for this bucket. Are you sure you want to remove it?
    </p>
    <div class="panel-footer">
      <a
         href=""
         ng-click="$dismiss()">Cancel</a>
      <button
         type="submit"
         ng-click="bucketsDeleteDialogCtl.doDelete()">Delete</button>
    </div>
  </div>
</div>
