<div class="dialog-med">
  <h2 class="panel-header">Confirm Rebalance Stop</h2>
  <div mn-spinner="viewLoading">
    <div class="error panel-content">
      <strong>Warning</strong> – Stopping rebalance is unsafe at this
      moment since cluster may be in a partitioned state. Continue only if
      you're perfectly sure that this is not the case.
    </div>
    <div class="panel-footer">
      <a href="" ng-click="$dismiss()">Cancel</a>
      <button
         type="submit"
         ng-click="serversStopRebalanceDialogCtl.onStopRebalance()">Stop</button>
    </div>
  </div>
</div>
