<div class="dialog-med">
  <h2 class="panel-header">Flushing</h2>
  <div mn-spinner="bucketsFlushDialogCtl.viewLoading">
    <p class="panel-content" >
      Warning – Flushing this bucket will result in complete data loss for this bucket. Are you sure you want to flush it?
    </p>
    <div class="panel-footer">
      <a
         href=""
         ng-click="$dismiss()">Cancel</a>
      <button
         type="submit"
         ng-click="bucketsFlushDialogCtl.doFlush()">Flush</button>
    </div>
  </div>
</div>
